# 環境変数(必須)
NEXT_PUBLIC_SUPABASE_URL="http://localhost:54321"
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"

NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SECRET_KEY=""


# 環境変数(任意)

# 開発環境でエディターの譜面情報自動生成を利用するにはYouTube Data API + Google AI Studio用のGCP_AUTH_KEY取得し、.envファイルに記述
## Google AI Studio → https://aistudio.google.com/app/apikey?hl=ja/
## YouTube Data API → https://console.cloud.google.com/
GCP_AUTH_KEY=""

# 開発環境でエディターの読み変換を利用するにはYAHOO_APP_ID(Client ID)を取得し、.envファイルに記述
# https://developer.yahoo.co.jp/
YAHOO_APP_ID=""