.wipe-layer {
  -webkit-text-fill-color: transparent;
  position: relative;
  text-shadow: none;
  display: inline;
  pointer-events: none;
  user-select: none;
}

.shadow-layer {
  position: absolute;
  pointer-events: auto;
  user-select: none;
}

.shadow-layer::before,
.wipe-layer::before,
#next_lyrics::before {
  content: "\200B";
}
